[Unit]
Description=Post Installation Script
After=network-online.target
Wants=network-online.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/root/post-install/postinstall.sh

[Install]
WantedBy=multi-user.target
