[Unit]
Description=Post Installation Script
After=multi-user.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/root/post-install/postinstall.sh
# RemainAfterExit=true

[Install]
WantedBy=multi-user.target
